body {
    margin: 0;
    padding: 0;
    width: 1600;
    height: 740;
    font-family: 'Franklin Gothic Book', sans-serif;
    color: #222222;
}
header{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 100%;
}

.logo img {
    height: 50px; /* Altura da logo */
    margin-left: 20px; /* Adicionado um espaçamento à esquerda */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    right: 90px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px; /* Espaçamento entre os itens */
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Cor dos links */
    font-size: 16px;
    padding: 10px 20px; /* Adicionado padding para os botões */
    background-color: #5d5d5d;
    
}

nav ul li a:hover {
    background-color: #3bb1ff; /* Cor de fundo dos botões ao passar o mouse */
}

nav ul li a.inscrever-se {
    background-color: #0074b8; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border-radius: 5px; /* Borda arredondada */
    padding: 10px 20px; /* Espaçamento interno */
    font-family: 'Franklin Gothic Book', sans-serif; /* Aplica a fonte Franklin Gothic Book */
    font-size: 16px;
    text-decoration: none;
}

nav ul li a.inscrever-se:hover {
    background-color: #3bb1ff; /* Cor de fundo do botão ao passar o mouse */
}

img#icone{
    max-width:500px;
    max-height:428px;
    width: auto;
    height: auto;
    margin-left: 55%;
    padding: 0%;
    position: relative; /* Define a posição como relativa */
    top: -100px; /* Move a imagem do logo 20 pixels para cima */
    right: -100px;
}
img#logoname{
    max-width:650px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-left: 55%;
    padding: 0%;
    position: relative; /* Define a posição como relativa */
    top: 50px; /* Move a imagem do logo 20 pixels para cima */
    left: -840px;
}

div#conteudo{
    max-width:680x;
    max-height:200px;
    width: auto;
    height: 50px;
    margin-left: 55%;
    padding: 0%;
    position: relative; /* Define a posição como relativa */
    top: 50px; /* Move a imagem do logo 20 pixels para cima */
    left: -820px;  
}

div#conteudo_inscri{
    max-width:680x;
    max-height:200px;
    width: auto;
    height: 50px;
    margin-left: 55%;
    padding: 0%;
    position: relative; /* Define a posição como relativa */
    top: 0px; /* Move a imagem do logo 20 pixels para cima */
    left: -820px;  
}

h1{
    font-size: 40pt;
}

div#textoc{
    max-width:900px;
    max-height:200px;
    width: 850px;
    height: 50px;
    margin-left: 55%;
    padding: 0%;
    position: relative; /* Define a posição como relativa */
    top: 0px; /* Move a imagem do logo 20 pixels para cima */
    left: -820px;  
}