<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/ico">
        <title>Em construção</title>
        <link rel="stylesheet" href="../static/css/estilo.css" type="text/css">
    </head>
    <body>
        <script languge="javascript" src="../static/script/script.js"></script>
        <header>
            
            <div class="logo">
                <a href="{{ url_for('homepage') }}">img id="logocomplet" src="../static/imagens/logo_complet.png" alt="Logo TeamBuilder"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="construcao.html" target="_self" rel="prev">RANKING</a></li>
                    <li><a href="construcao.html" target="_self" rel="next">EQUIPES</a></li>
                    <li><a href="construcao.html" target="_self" rel="next">VAGAS</a></li>
                    <li><a href="construcao.html" target="_self" rel="next">PROJETOS</a></li>
                    <li><a href="sobre.html" target="_self" rel="next">SOBRE</a></li>
                    <li><a href="inscricao.html" class="inscrever-se">INSCREVER-SE</a></li> <!-- Botão Inscrever-se -->
                </ul>
            </nav>
        </header>
        <img id="logoname" src="../static/imagens/logo_name.png" alt="Logo TeamBuilder">
        <div id="conteudo">
            <h1>Página em construção!</h1>
        </div>
        <img id="icone" src="../static/imagens/logo.png" alt="Logo TeamBuilder">
        
    </body>
</html>