<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/ico">
        <title>Sobre</title>
        <link rel="stylesheet" href="../static/css/estilo.css" type="text/css">
    </head>
    <body>
        <script languge="javascript" src="../static/script/script.js"></script>
        <header>
            
            <div class="logo">
                <a href="{{ url_for('homepage') }}"><img id="logocomplet" src="../static/imagens/logo_complet.png" alt="Logo TeamBuilder"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="ranking.html" target="_self" rel="prev">RANKING</a></li>
                    <li><a href="equipes.html" target="_self" rel="next">EQUIPES</a></li>
                    <li><a href="vagas.html" target="_self" rel="next">VAGAS</a></li>
                    <li><a href="projetos.html" target="_self" rel="next">PROJETOS</a></li>
                    <li><a href="sobre.html" target="_self" rel="next">SOBRE</a></li>
                    <li><a href="inscricao.html" class="inscrever-se">INSCREVER-SE</a></li>
                </ul>
            </nav>
        </header>
        <div id="conteudo">
            <h1>Sobre</h1>
            <h3>Este projeto tem como objetivo dar a oportunidade para que alunos com interesse em desenvolvimento possam participar de equipes em projetos de programação.</h3>
            
            <h2>Mais informações:</h2>
            <h4><a href="proposta.html">Proposta de projeto e regulamento</a></h4>
        
    </body>
</html>